:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
     --font-family:'Karla', sans-serif;
     
     
}
  
  body {
    margin-top: 0px;
  }
  
  h1,
  h2,
  h3 {
    
    margin-top: 0px;
  }
  
  h1 {
    text-align: center;
    font-size: 96px;
    margin-top: 5px;
    font-family:var( --font-family)
  }
  
  h2 {
    font-size: 40px;
        opacity: 0.9;
        font-family:var(--font-family)
       
  }
  
  h3 {
    text-align: center;
    font-size: 24px;
    opacity: 0.7;
    font-family:var(--font-family)
  }
  
  p {
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    font-family:var(--font-family)
  }
  
  .navigation-links {
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
     background-color: 	#50C878;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color:white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.navigation-links a:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  
  
  
  .about-paragraphs {
    display: flex;
    margin: 10px 0;
  }
  
  .about-paragraphs p {
    margin: 10px;
  }
  

 
  ul li{
	display: inline-block;
	padding: 0px 15px;}
    
    .logo{
        width: 100px;
       cursor: pointer;
      }

    .row{
      
    } 

    .homepage{
      margin-top: 400px;
      
    }
    .skillset {
      font-size: 17px;
      color: purple;
      display: inline-block;
      border: 1px solid var(--primary-color);
      padding: 8px 14px;
      margin: 5px;
      border-radius: 4px;
      font-family: var(--font-family)
    }
       
  .background,iframe
  {animation-name: colorchange;
    animation-duration: 25s;
    animation-iteration-count: infinite;
  height: 450px;
  width:100%;
margin:0;
padding-top:30px;
}
.contact-container{
    background-color: var(--secondary-color);
    padding: 20px 100px;
    border-radius: 10px;
    margin-top: 40px;
  }

  .project-button{
    border-radius: 10px;
    display: block;
    background-color:rgb(103, 232, 103);
  }

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
  font-size: 18px;
  font-family: var(--font-family);
  
}
.projects{
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 10px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
  
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

body {
  font-size: 2em;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
}

.form-wrapper {
  border: 1px solid #ced4da;
  border-radius: 0.7rem;
  padding: 20px;
  margin-left: 0.7rem;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(206, 212, 218, 0.2);
  font-family: var(--font-family);
}

 
.contact-form-button{
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color:white;
  background-color:#50C878;
  font-family: var(--font-family);
  font-size: 18px;
}
.contact-form-button:hover{
  opacity: 0.1;
}
.heading-1{
  margin-top: 50px;
}
  @keyframes colorchange {
      0% {background-color: #cff7de;}
     20% {background-color:#e4c0f9;}
     40%{background-color: #f99fc8;}
     60%{background-color: #f7efb7;}
     100%{background-color: #ace0f9;}
  
  }

  .header-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 8%;
    height: 90px;
  font-family:'Karla', sans-serif;
  background-color:#fcebea ;

  }

  .main-header{
    animation-name: colorchange;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1% 8%;
height: 90px;} 


    .contact-info{
      margin-top: 100px;
    }
    li{
      list-style: none;
      line-height: 100px;
    }



    @keyframes colorchange {
        0% {background-color: #cff7de;}
       20% {background-color:#e4c0f9;}
       40%{background-color: #f99fc8;}
       60%{background-color: #f7efb7;}
       100%{background-color: #ace0f9;}
    
    }


  
    @media(max-width: 900px){
        h1{
            font-size: 70px;
        }
        h2{
            font-size: 40px;
        }
        .email-link{
            font-size: 20px;}
       }
            
            

